html
  head
    title="FuturePlate"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')


    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    unless development
      link(rel='stylesheet', type='text/css', href='/build/main.css')

  body
    #app!= content

  script.
    window.data = !{JSON.stringify(data)};
  script(src='/build/client.js', defer)
